/cmake*/
build/
build*/
*build/

picture/bp/.venv
/html/search/all_0.js
/html/search/all_1.js
/html/search/all_2.js
/html/search/all_3.js
/html/search/all_4.js
/html/search/all_5.js
/html/search/all_6.js
/html/search/all_7.js
/html/search/all_8.js
/html/search/all_9.js
/html/search/all_a.js
/html/search/all_b.js
/html/search/all_c.js
/html/search/all_d.js
/html/search/classes_0.js
/html/search/classes_1.js
/html/search/classes_2.js
/html/search/classes_3.js
/html/search/classes_4.js
/html/search/classes_5.js
/html/search/classes_6.js
/html/search/classes_7.js
/html/search/close.svg
/html/search/functions_0.js
/html/search/functions_1.js
/html/search/functions_2.js
/html/search/mag.svg
/html/search/mag_d.svg
/html/search/mag_sel.svg
/html/search/mag_seld.svg
/html/search/pages_0.js
/html/search/pages_1.js
/html/search/pages_2.js
/html/search/pages_3.js
/html/search/pages_4.js
/html/search/search.css
/html/search/search.js
/html/search/searchdata.js
/html/annotated.html
/html/bc_s.png
/html/bc_sd.png
/html/box_8h_source.html
/html/classBoudingBox.html
/html/classBoudingBox.png
/html/classBoudingBox-members.html
/html/classBoudingBox__coll__graph.map
/html/classBoudingBox__coll__graph.md5
/html/classBoudingBox__coll__graph.png
/html/classBoudingBox__coll__graph.svg
/html/classBoudingBox__inherit__graph.map
/html/classBoudingBox__inherit__graph.md5
/html/classBoudingBox__inherit__graph.png
/html/classBoudingBox__inherit__graph.svg
/html/classBox.html
/html/classBox.png
/html/classBox-members.html
/html/classBox__coll__graph.map
/html/classBox__coll__graph.md5
/html/classBox__coll__graph.png
/html/classBox__coll__graph.svg
/html/classBox__inherit__graph.map
/html/classBox__inherit__graph.md5
/html/classBox__inherit__graph.png
/html/classBox__inherit__graph.svg
/html/classes.html
/html/classHashOctree.html
/html/classHashOctree-members.html
/html/classHashOctree__coll__graph.map
/html/classHashOctree__coll__graph.md5
/html/classHashOctree__coll__graph.png
/html/classHashOctree__coll__graph.svg
/html/classOctreeNode.html
/html/classOctreeNode-members.html
/html/classOctreeNode__coll__graph.map
/html/classOctreeNode__coll__graph.md5
/html/classOctreeNode__coll__graph.png
/html/classOctreeNode__coll__graph.svg
/html/classPoint.html
/html/classPoint.png
/html/classPoint-members.html
/html/classPoint__coll__graph.map
/html/classPoint__coll__graph.md5
/html/classPoint__coll__graph.png
/html/classPoint__coll__graph.svg
/html/classPoint__inherit__graph.map
/html/classPoint__inherit__graph.md5
/html/classPoint__inherit__graph.png
/html/classPoint__inherit__graph.svg
/html/classPointstree.html
/html/classPointstree__coll__graph.map
/html/classPointstree__coll__graph.md5
/html/classPointstree__coll__graph.png
/html/classPointstree__coll__graph.svg
/html/classPolyhedron.html
/html/classPolyhedron-members.html
/html/classPolyhedron__coll__graph.map
/html/classPolyhedron__coll__graph.md5
/html/classPolyhedron__coll__graph.png
/html/classPolyhedron__coll__graph.svg
/html/classRandomPoint.html
/html/classRandomPoint.png
/html/classRandomPoint-members.html
/html/classRandomPoint__coll__graph.map
/html/classRandomPoint__coll__graph.md5
/html/classRandomPoint__coll__graph.png
/html/classRandomPoint__coll__graph.svg
/html/classRandomPoint__inherit__graph.map
/html/classRandomPoint__inherit__graph.md5
/html/classRandomPoint__inherit__graph.png
/html/classRandomPoint__inherit__graph.svg
/html/classSimplex.html
/html/classSimplex-members.html
/html/classSimplex__coll__graph.map
/html/classSimplex__coll__graph.md5
/html/classSimplex__coll__graph.png
/html/classSimplex__coll__graph.svg
/html/classVoronoiCells.html
/html/classVoronoiCells-members.html
/html/classVoronoiCells__coll__graph.map
/html/classVoronoiCells__coll__graph.md5
/html/classVoronoiCells__coll__graph.png
/html/classVoronoiCells__coll__graph.svg
/html/classVoronoiDiagram.html
/html/classVoronoiDiagram-members.html
/html/classVoronoiDiagram__coll__graph.map
/html/classVoronoiDiagram__coll__graph.md5
/html/classVoronoiDiagram__coll__graph.png
/html/classVoronoiDiagram__coll__graph.svg
/html/clipboard.js
/html/closed.png
/html/cookie.js
/html/dir_68267d1309a1af8e8297ef4c3efbcdba.html
/html/doc.svg
/html/docd.svg
/html/doxygen.css
/html/doxygen.svg
/html/doxygen_crawl.html
/html/dynsections.js
/html/files.html
/html/folderclosed.svg
/html/folderclosedd.svg
/html/folderopen.svg
/html/folderopend.svg
/html/functions.html
/html/functions_func.html
/html/gjk_8h_source.html
/html/graph_legend.html
/html/graph_legend.md5
/html/graph_legend.png
/html/graph_legend.svg
/html/hastree_8h_source.html
/html/hierarchy.html
/html/index.html
/html/inherit_graph_0.map
/html/inherit_graph_0.md5
/html/inherit_graph_0.png
/html/inherit_graph_0.svg
/html/inherit_graph_1.map
/html/inherit_graph_1.md5
/html/inherit_graph_1.png
/html/inherit_graph_1.svg
/html/inherit_graph_2.map
/html/inherit_graph_2.md5
/html/inherit_graph_2.png
/html/inherit_graph_2.svg
/html/inherit_graph_3.map
/html/inherit_graph_3.md5
/html/inherit_graph_3.png
/html/inherit_graph_3.svg
/html/inherit_graph_4.map
/html/inherit_graph_4.md5
/html/inherit_graph_4.png
/html/inherit_graph_4.svg
/html/inherit_graph_5.map
/html/inherit_graph_5.md5
/html/inherit_graph_5.png
/html/inherit_graph_5.svg
/html/inherit_graph_6.map
/html/inherit_graph_6.md5
/html/inherit_graph_6.png
/html/inherit_graph_6.svg
/html/inherit_graph_7.map
/html/inherit_graph_7.md5
/html/inherit_graph_7.png
/html/inherit_graph_7.svg
/html/inherit_graph_8.map
/html/inherit_graph_8.md5
/html/inherit_graph_8.png
/html/inherit_graph_8.svg
/html/inherit_graph_9.map
/html/inherit_graph_9.md5
/html/inherit_graph_9.png
/html/inherit_graph_9.svg
/html/inherit_graph_10.map
/html/inherit_graph_10.md5
/html/inherit_graph_10.png
/html/inherit_graph_10.svg
/html/inherits.html
/html/jquery.js
/html/md_src_2todo.html
/html/md_todo.html
/html/menu.js
/html/menudata.js
/html/minus.svg
/html/minusd.svg
/html/nav_f.png
/html/nav_fd.png
/html/nav_g.png
/html/nav_h.png
/html/nav_hd.png
/html/OctreeNode_8h_source.html
/html/open.png
/html/pages.html
/html/plus.svg
/html/plusd.svg
/html/point_8h_source.html
/html/pointstree_8h_source.html
/html/polyhedron_8h_source.html
/html/randompoint_8h_source.html
/html/splitbar.png
/html/splitbard.png
/html/structEvent.html
/html/structEvent__coll__graph.map
/html/structEvent__coll__graph.md5
/html/structEvent__coll__graph.png
/html/structEvent__coll__graph.svg
/html/structstd_1_1hash_3_01std_1_1pair_3_01int_00_01std_1_1tuple_3_01int_00_01int_00_01int_01_4_01_4_01_4.html
/html/structstd_1_1hash_3_01std_1_1pair_3_01int_00_01std_1_1tuple_3_01int_00_01int_00_01int_01_4_01_4_01_4-members.html
/html/structstd_1_1hash_3_01std_1_1pair_3_01int_00_01std_1_1tuple_3_01int_00_01int_00_01int_01_4_01_4_01_4__coll__graph.map
/html/structstd_1_1hash_3_01std_1_1pair_3_01int_00_01std_1_1tuple_3_01int_00_01int_00_01int_01_4_01_4_01_4__coll__graph.md5
/html/structstd_1_1hash_3_01std_1_1pair_3_01int_00_01std_1_1tuple_3_01int_00_01int_00_01int_01_4_01_4_01_4__coll__graph.png
/html/structstd_1_1hash_3_01std_1_1pair_3_01int_00_01std_1_1tuple_3_01int_00_01int_00_01int_01_4_01_4_01_4__coll__graph.svg
/html/sync_off.png
/html/sync_on.png
/html/tab_a.png
/html/tab_ad.png
/html/tab_b.png
/html/tab_bd.png
/html/tab_h.png
/html/tab_hd.png
/html/tab_s.png
/html/tab_sd.png
/html/tabs.css
/html/voronoi_8h_source.html
/latex/annotated.tex
/latex/box_8h_source.tex
/latex/classBoudingBox.eps
/latex/classBoudingBox.tex
/latex/classBoudingBox__coll__graph.md5
/latex/classBoudingBox__coll__graph.pdf
/latex/classBoudingBox__inherit__graph.md5
/latex/classBoudingBox__inherit__graph.pdf
/latex/classBox.eps
/latex/classBox.tex
/latex/classBox__coll__graph.md5
/latex/classBox__coll__graph.pdf
/latex/classBox__inherit__graph.md5
/latex/classBox__inherit__graph.pdf
/latex/classHashOctree.tex
/latex/classHashOctree__coll__graph.md5
/latex/classHashOctree__coll__graph.pdf
/latex/classOctreeNode.tex
/latex/classOctreeNode__coll__graph.md5
/latex/classOctreeNode__coll__graph.pdf
/latex/classPoint.eps
/latex/classPoint.tex
/latex/classPoint__coll__graph.md5
/latex/classPoint__coll__graph.pdf
/latex/classPoint__inherit__graph.md5
/latex/classPoint__inherit__graph.pdf
/latex/classPointstree.tex
/latex/classPointstree__coll__graph.md5
/latex/classPointstree__coll__graph.pdf
/latex/classPolyhedron.tex
/latex/classPolyhedron__coll__graph.md5
/latex/classPolyhedron__coll__graph.pdf
/latex/classRandomPoint.eps
/latex/classRandomPoint.tex
/latex/classRandomPoint__coll__graph.md5
/latex/classRandomPoint__coll__graph.pdf
/latex/classRandomPoint__inherit__graph.md5
/latex/classRandomPoint__inherit__graph.pdf
/latex/classSimplex.tex
/latex/classSimplex__coll__graph.md5
/latex/classSimplex__coll__graph.pdf
/latex/classVoronoiCells.tex
/latex/classVoronoiCells__coll__graph.md5
/latex/classVoronoiCells__coll__graph.pdf
/latex/classVoronoiDiagram.tex
/latex/classVoronoiDiagram__coll__graph.md5
/latex/classVoronoiDiagram__coll__graph.pdf
/latex/doxygen.sty
/latex/etoc_doxygen.sty
/latex/files.tex
/latex/gjk_8h_source.tex
/latex/hastree_8h_source.tex
/latex/hierarchy.tex
/latex/longtable_doxygen.sty
/latex/Makefile
/latex/md_src_2todo.tex
/latex/md_todo.tex
/latex/OctreeNode_8h_source.tex
/latex/point_8h_source.tex
/latex/pointstree_8h_source.tex
/latex/polyhedron_8h_source.tex
/latex/randompoint_8h_source.tex
/latex/refman.tex
/latex/structEvent.tex
/latex/structEvent__coll__graph.md5
/latex/structEvent__coll__graph.pdf
/latex/structstd_1_1hash_3_01std_1_1pair_3_01int_00_01std_1_1tuple_3_01int_00_01int_00_01int_01_4_01_4_01_4.tex
/latex/structstd_1_1hash_3_01std_1_1pair_3_01int_00_01std_1_1tuple_3_01int_00_01int_00_01int_01_4_01_4_01_4__coll__graph.md5
/latex/structstd_1_1hash_3_01std_1_1pair_3_01int_00_01std_1_1tuple_3_01int_00_01int_00_01int_01_4_01_4_01_4__coll__graph.pdf
/latex/tabu_doxygen.sty
/latex/voronoi_8h_source.tex
